In [1]:
import mysql.connector

In [2]:
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Sai@12345",
    database="tourism"
)

cursor = conn.cursor()

In [3]:
query_1 = """
CREATE TABLE one AS
SELECT t.TransactionId, t.UserId, t.VisitYear, t.VisitMonth, t.VisitMode, t.AttractionId, t.Rating,
       u.ContinentId, u.RegionId, u.CountryId, u.CityId
FROM transaction t
INNER JOIN user u ON t.UserId = u.UserId;
"""

cursor.execute(query_1)
conn.commit()

In [4]:
query_2 = """
CREATE TABLE  two AS
SELECT j1.*, c.Continent
FROM joined_1 j1
INNER JOIN continent c ON j1.ContinentId = c.ContinentId;
"""

cursor.execute(query_2)
conn.commit()

In [5]:
query_3 = """
CREATE TABLE three AS
SELECT j2.*, r.Region
FROM joined_2 j2
INNER JOIN region r ON j2.RegionId = r.RegionId;
"""

cursor.execute(query_3)
conn.commit()

In [6]:
query_4 = """
CREATE TABLE four AS
SELECT j3.*, co.Country
FROM joined_3 j3
INNER JOIN country co ON j3.CountryId = co.CountryId;
"""

cursor.execute(query_4)
conn.commit()

In [7]:
query_5 = """
CREATE TABLE five AS
SELECT j4.*, ci.CityName
FROM joined_4 j4
INNER JOIN city ci ON j4.CityId = ci.CityId;
"""

cursor.execute(query_5)
conn.commit()

In [8]:
query_6 = """
CREATE TABLE six AS
SELECT j5.*, it.Attraction, it.AttractionAddress, it.AttractionTypeId
FROM joined_5 j5
INNER JOIN item it ON j5.AttractionId = it.AttractionId;
"""

cursor.execute(query_6)
conn.commit()

In [9]:
query_7 = """
CREATE TABLE seven AS
SELECT j6.*, t.AttractionType
FROM joined_6 j6
INNER JOIN type t ON j6.AttractionTypeId = t.AttractionTypeId;
"""

cursor.execute(query_7)
conn.commit()

In [10]:
query_8 = """
CREATE TABLE  eight AS
SELECT j7.*, m.VisitMode AS VisitModeName
FROM joined_7 j7
INNER JOIN mode m ON j7.VisitMode = m.VisitModeId;
"""

cursor.execute(query_8)
conn.commit()

In [11]:
import pandas as pd

In [12]:
final = "SELECT * FROM eight"
cursor.execute(final)
result = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

df = pd.DataFrame(result, columns=columns)

In [14]:
df.to_csv("tor.csv",index = False)